<img class="phone" src="<%- images[0] %>" data-element="preview">
<button data-action="back">Back</button>
<button data-action="add-to-cart">Add to basket</button>

<h1><%- name %></h1>

<p><%- description %></p>

<ul class="phone-thumbs" <%- children['element-picker'] %>></ul>