<p>Shopping Cart</p>
<ul>
    <% if (elements.length > 0) { %>
        <% for(let { name, amount } of elements) { %>
            <li class="minicart-item"
                data-action="pick"
                data-item-name="<%- name %>"
                data-element="item"><%- name %> (<%- amount %>)</li>
        <% } %>
    <% } else { %>
        <li>So empty...</li>
    <% } %>
</ul>