<div class="row">
    <!--Sidebar-->
    <div class="col-md-2">
        <div <%- children.filter %>></div>

        <div <%- children.minicart %>>

        </div>
    </div>

    <!--Main content-->
    <div class="col-md-10">
        <div <%- children.catalog %>></div>
        <div <%- children.fullview %>></div>
    </div>
</div>